*.out
*.ex
*.o
*.d
*.F90
*.hdf5
pout.*
*.mod
docs/**
Examples/AMReX_DCEL/plt*
Examples/AMReX_DCEL/tmp_build_dir
Examples/AMReX_DCEL/Backtrace.*

Examples/AMReX_F18/plt*
Examples/AMReX_F18/tmp_build_dir
Examples/AMReX_F18/Backtrace.*

Examples/AMReX_PackedSpheres/plt*
Examples/AMReX_PackedSpheres/tmp_build_dir
Examples/AMReX_PackedSpheres/Backtrace.*

Examples/AMReX_RandomCity/plt*
Examples/AMReX_RandomCity/tmp_build_dir
Examples/AMReX_RandomCity/Backtrace.*

Examples/AMReX_Shapes/plt*
Examples/AMReX_Shapes/tmp_build_dir
Examples/AMReX_Shapes/Backtrace.*

Examples/AMReX_PaintEB/plt*
Examples/AMReX_PaintEB/tmp_build_dir
Examples/AMReX_PaintEB/Backtrace.*

Examples/Chombo3_DCEL/d/**
Examples/Chombo3_DCEL/o/**
Examples/Chombo3_DCEL/f/**
Examples/Chombo3_DCEL/d/**

Examples/Chombo3_F18/d/**
Examples/Chombo3_F18/o/**
Examples/Chombo3_F18/f/**
Examples/Chombo3_F18/d/**

Examples/Chombo3_PackedSpheres/d/**
Examples/Chombo3_PackedSpheres/o/**
Examples/Chombo3_PackedSpheres/f/**
Examples/Chombo3_PackedSpheres/d/**

Examples/Chombo3_RandomCity/d/**
Examples/Chombo3_RandomCity/o/**
Examples/Chombo3_RandomCity/f/**
Examples/Chombo3_RandomCity/d/**

Examples/Chombo3_Shapes/d/**
Examples/Chombo3_Shapes/o/**
Examples/Chombo3_Shapes/f/**
Examples/Chombo3_Shapes/d/**

Docs/*
!Docs/.nojekyll
!Docs/Sphinx
!Docs/doxyfile
!Docs/README.md
Docs/Sphinx/build/*
